// Navigation Styles here
.nav-bar {
    display: flex;
    width: 100%;
    padding: 20px 0px;
    .h1-style {
        width: 20%;
    } 
    .list-item-style {
        width: 80%;
        .list-items {
            display: flex;
            justify-content: flex-end;
            align-items: center;
            height: 100%;
            .item {
                text-decoration: none;
                padding: 10px;
                font-size: 1.6rem;
            }
        }
    }   
}